:root{
    // Variáveis
    --black: #181818;
    --black-light: #474747;
    --white: #F9F9F9;
    --white-light: #EBE9EA;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    line-height:1.5;
    }    

    body{
        overflow-x: hidden;
        min-height: 100vh;
    }

    .container{       
        padding:0 30px;
        max-width: 1239px;
        margin:0 auto;
    }

    .header p{
        height:3.75em;
        background:var(--black);
        color: var(--white);
        display: flex;
        justify-content:center;
        align-items:center;
        font-size:1em; 
       

    } 

    .header h1{
        height:3.75rem;
        background:var(--white);
        color: var(--black);
        display: flex;
        justify-content:center;
        align-items:center;
        font-size:2em; 
        font-weight:bold; 
}

    .intro{
        background: rgba(0,0,0,0.5) url("assets/img/wall.jpeg") no-repeat center;
        background-attachment: scroll;
        background-size: auto;
        min-height: 420px;
        background-blend-mode: color;
        background-attachment: fixed;
        background-size: cover;
        display: flex;       
        margin-left: auto;
        margin-right: auto;
    }
  
    .intro-text{
        display: flex;
        flex-direction: column;
        justify-content: center;     
        margin-left: 7.5em;
        color: var(--white);
        width:460px;      
       h2{       
        font-size:2em;
        margin-bottom:20px;
       }p{
            font-size:1.125em;
        }
    }
 
    //section  
    
    .products{
        margin-bottom:100px;
        margin-top:58px;
    }

    .products-text{
         display: flex;
         flex-direction: column;
         align-items: center;
        justify-content: center;
       
        margin-bottom: 60px;
    h1{
        font-size: 2em;
        color: var(--black);
        margin-bottom:1em;
        font-weight: bold;
        
    }p{
        font-size:18px;
        color: var(--black-light)
    }}

    .products-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
        gap: 13px;      
    }

    .products-item img{
        max-width:300px;
        background: var(--white-light);
        border-radius: 5px;     
    }


    .footer{
     display:flex;
     align-items: center;
     justify-content: center;
     font-size:18px;
     color: var(--white);
     background: var(--black);
     height:60px;
    }


// Dispositivos médios (tablets com menos de 992px)
@media (max-width: 991.98px) {      
    .products-item{
       
        grid-template-columns: repeat(3, 1fr);  
              
    }    
}

// Dispositivos small (telefones em modo paisagem, com menos de 768px)
@media (max-width: 767.98px) { 
    .products-item{
        
        grid-template-columns: repeat(2, 1fr);  
             
    }  
 }


// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
@media (max-width: 575.98px) { 
    .products-item{
       
        grid-template-columns: repeat(2, 1fr);
           
    } 
    
    .products-item img{
        max-width:244px;        
    }


    .intro{
        justify-content:center;
        align-items:center;
    }
    .intro-text{
        margin-left:0;       
        width:400px;        
    }
 }

 @media (max-width: 320.98px){
     .header p {
         height:30px;
         font-size:12px
         
     }

     .intro{
        justify-content:center;
        align-items:center;      
    }

    .intro-text{
        margin-left:0;       
        width:288px;        
    h2{
        font-size:24px;
       
    }p{
        font-size:16px;
    }
 }

 .products-text h1{
     font-size: 24px;
 }

 .products-text p{
     font-size: 12px;
     text-align: center;
 } 

 .products-item{
   display:flex;
   flex-wrap: wrap;

} 

}


